* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 100px);
    grid-template-areas:
      "Batman Batman Batman Batman"
      "Robin Robin Wonderwoman Wonderwoman"
      "Robin Robin Superman Spiderman";
    gap: 0.5em;
}

section div {
    border-radius: 0.5em;
}

.contain1 {
    background-color: red;
    grid-area: Batman;
}

.contain2 {
    background-color: blue;
    grid-area: Robin;
}

.contain3 {
    background-color: green;
    grid-area: Wonderwoman;
}

.contain4 {
    background-color: blueviolet;
    grid-area: Superman;
}

.contain5 {
    background-color: blueviolet;
    grid-area: Spiderman;
}